In [1]:
import numpy as np
import pandas as pd

In [77]:
data = pd.read_csv('data/application_train.csv')
test_data = pd.read_csv('data/application_test.csv')
data.rename(columns={x:x.lower() for x in data.columns}, inplace=True)
test_data.rename(columns={x:x.lower() for x in test_data.columns}, inplace=True)

In [78]:
#Im going to rename the columns to all lowercase for my own preference
data.rename(columns={x:x.lower() for x in data.columns}, inplace=True)
test_data.rename(columns={x:x.lower() for x in test_data.columns}, inplace=True)

In [79]:
data.head()

,sk_id_curr,target,name_contract_type,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,...,flag_document_18,flag_document_19,flag_document_20,flag_document_21,amt_req_credit_bureau_hour,amt_req_credit_bureau_day,amt_req_credit_bureau_week,amt_req_credit_bureau_mon,amt_req_credit_bureau_qrt,amt_req_credit_bureau_year
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, sk_id_curr to amt_req_credit_bureau_year
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [81]:
test_data.head()

,sk_id_curr,name_contract_type,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,...,flag_document_18,flag_document_19,flag_document_20,flag_document_21,amt_req_credit_bureau_hour,amt_req_credit_bureau_day,amt_req_credit_bureau_week,amt_req_credit_bureau_mon,amt_req_credit_bureau_qrt,amt_req_credit_bureau_year
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Columns: 121 entries, sk_id_curr to amt_req_credit_bureau_year
dtypes: float64(65), int64(40), object(16)
memory usage: 45.0+ MB

## Cleaning Data for First Model

### Categorical Variables

In [83]:
categorical_columns = [x for x in data.columns if data[x].dtype == object]

categorical = data[categorical_columns]
categorical.shape

(307511, 16)

In [84]:
categorical.head()

,name_contract_type,code_gender,flag_own_car,flag_own_realty,name_type_suite,name_income_type,name_education_type,name_family_status,name_housing_type,occupation_type,weekday_appr_process_start,organization_type,fondkapremont_mode,housetype_mode,wallsmaterial_mode,emergencystate_mode
0,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
1,Cash loans,F,N,N,Family,State servant,Higher education,Married,House / apartment,Core staff,MONDAY,School,reg oper account,block of flats,Block,No
2,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,MONDAY,Government,NaN,NaN,NaN,NaN
3,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
4,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Core staff,THURSDAY,Religion,NaN,NaN,NaN,NaN

In [85]:
categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 16 columns):
name_contract_type            307511 non-null object
code_gender                   307511 non-null object
flag_own_car                  307511 non-null object
flag_own_realty               307511 non-null object
name_type_suite               306219 non-null object
name_income_type              307511 non-null object
name_education_type           307511 non-null object
name_family_status            307511 non-null object
name_housing_type             307511 non-null object
occupation_type               211120 non-null object
weekday_appr_process_start    307511 non-null object
organization_type             307511 non-null object
fondkapremont_mode            97216 non-null object
housetype_mode                153214 non-null object
wallsmaterial_mode            151170 non-null object
emergencystate_mode           161756 non-null object
dtypes: object(16)
memory usage: 37.5+ MB

In [86]:
categorical['name_type_suite'].value_counts()

Unaccompanied      248526
Family              40149
Spouse, partner     11370
Children             3267
Other_B              1770
Other_A               866
Group of people       271
Name: name_type_suite, dtype: int64

I am going to create a new category for all of these variables called "NULL" so that when I convert them to dummies it will catch missing values. Additionally I will put unseen values into this bucket for the test data

In [87]:
for col in categorical_columns:
    categorical.loc[:,col] = categorical[col].apply(lambda x: x if not pd.isna(x) else "NULL")

/home/connor/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:621: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [88]:
categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 16 columns):
name_contract_type            307511 non-null object
code_gender                   307511 non-null object
flag_own_car                  307511 non-null object
flag_own_realty               307511 non-null object
name_type_suite               307511 non-null object
name_income_type              307511 non-null object
name_education_type           307511 non-null object
name_family_status            307511 non-null object
name_housing_type             307511 non-null object
occupation_type               307511 non-null object
weekday_appr_process_start    307511 non-null object
organization_type             307511 non-null object
fondkapremont_mode            307511 non-null object
housetype_mode                307511 non-null object
wallsmaterial_mode            307511 non-null object
emergencystate_mode           307511 non-null object
dtypes: object(16)
memory usage: 37.5+ MB

## Integer Columns

In [89]:
integer_columns = [x for x in data.columns if data[x].dtype == np.int64]

integers = data[integer_columns]
integers.shape

(307511, 41)

In [90]:
integers.head()

,sk_id_curr,target,cnt_children,days_birth,days_employed,days_id_publish,flag_mobil,flag_emp_phone,flag_work_phone,flag_cont_mobile,...,flag_document_12,flag_document_13,flag_document_14,flag_document_15,flag_document_16,flag_document_17,flag_document_18,flag_document_19,flag_document_20,flag_document_21
0,100002,1,0,-9461,-637,-2120,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,0,-16765,-1188,-291,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,0,-19046,-225,-2531,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,0,-19005,-3039,-2437,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,0,-19932,-3038,-3458,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [91]:
integers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 41 columns):
sk_id_curr                     307511 non-null int64
target                         307511 non-null int64
cnt_children                   307511 non-null int64
days_birth                     307511 non-null int64
days_employed                  307511 non-null int64
days_id_publish                307511 non-null int64
flag_mobil                     307511 non-null int64
flag_emp_phone                 307511 non-null int64
flag_work_phone                307511 non-null int64
flag_cont_mobile               307511 non-null int64
flag_phone                     307511 non-null int64
flag_email                     307511 non-null int64
region_rating_client           307511 non-null int64
region_rating_client_w_city    307511 non-null int64
hour_appr_process_start        307511 non-null int64
reg_region_not_live_region     307511 non-null int64
reg_region_not_work_region     307511 non-null int64
live_region_not_work_region    307511 non-null int64
reg_city_not_live_city         307511 non-null int64
reg_city_not_work_city         307511 non-null int64
live_city_not_work_city        307511 non-null int64
flag_document_2                307511 non-null int64
flag_document_3                307511 non-null int64
flag_document_4                307511 non-null int64
flag_document_5                307511 non-null int64
flag_document_6                307511 non-null int64
flag_document_7                307511 non-null int64
flag_document_8                307511 non-null int64
flag_document_9                307511 non-null int64
flag_document_10               307511 non-null int64
flag_document_11               307511 non-null int64
flag_document_12               307511 non-null int64
flag_document_13               307511 non-null int64
flag_document_14               307511 non-null int64
flag_document_15               307511 non-null int64
flag_document_16               307511 non-null int64
flag_document_17               307511 non-null int64
flag_document_18               307511 non-null int64
flag_document_19               307511 non-null int64
flag_document_20               307511 non-null int64
flag_document_21               307511 non-null int64
dtypes: int64(41)
memory usage: 96.2 MB

In [92]:
for col in integer_columns:
    print(col, len(data[col].value_counts()))

sk_id_curr 307511
target 2
cnt_children 15
days_birth 17460
days_employed 12574
days_id_publish 6168
flag_mobil 2
flag_emp_phone 2
flag_work_phone 2
flag_cont_mobile 2
flag_phone 2
flag_email 2
region_rating_client 3
region_rating_client_w_city 3
hour_appr_process_start 24
reg_region_not_live_region 2
reg_region_not_work_region 2
live_region_not_work_region 2
reg_city_not_live_city 2
reg_city_not_work_city 2
live_city_not_work_city 2
flag_document_2 2
flag_document_3 2
flag_document_4 2
flag_document_5 2
flag_document_6 2
flag_document_7 2
flag_document_8 2
flag_document_9 2
flag_document_10 2
flag_document_11 2
flag_document_12 2
flag_document_13 2
flag_document_14 2
flag_document_15 2
flag_document_16 2
flag_document_17 2
flag_document_18 2
flag_document_19 2
flag_document_20 2
flag_document_21 2

So a few columns are numeric while the rest seem to be categorical. I am going to mark the non boolean but categorical columns to be marked for dummy variable encoding before we do modeling

In [93]:
categorical_integer_cols = ['region_rating_client', 'region_rating_client_w_city']

So none of these columns have null values and are mostly boolean so I'm going to guess these columns have been pre treated so that would be true. These can stay as is for now.

In [94]:
float_columns = [x for x in data.columns if data[x].dtype == np.float64]

floats = data[float_columns]
floats.shape

(307511, 65)

In [95]:
floats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 65 columns):
amt_income_total                307511 non-null float64
amt_credit                      307511 non-null float64
amt_annuity                     307499 non-null float64
amt_goods_price                 307233 non-null float64
region_population_relative      307511 non-null float64
days_registration               307511 non-null float64
own_car_age                     104582 non-null float64
cnt_fam_members                 307509 non-null float64
ext_source_1                    134133 non-null float64
ext_source_2                    306851 non-null float64
ext_source_3                    246546 non-null float64
apartments_avg                  151450 non-null float64
basementarea_avg                127568 non-null float64
years_beginexpluatation_avg     157504 non-null float64
years_build_avg                 103023 non-null float64
commonarea_avg                  92646 non-null float64
elevators_avg                   143620 non-null float64
entrances_avg                   152683 non-null float64
floorsmax_avg                   154491 non-null float64
floorsmin_avg                   98869 non-null float64
landarea_avg                    124921 non-null float64
livingapartments_avg            97312 non-null float64
livingarea_avg                  153161 non-null float64
nonlivingapartments_avg         93997 non-null float64
nonlivingarea_avg               137829 non-null float64
apartments_mode                 151450 non-null float64
basementarea_mode               127568 non-null float64
years_beginexpluatation_mode    157504 non-null float64
years_build_mode                103023 non-null float64
commonarea_mode                 92646 non-null float64
elevators_mode                  143620 non-null float64
entrances_mode                  152683 non-null float64
floorsmax_mode                  154491 non-null float64
floorsmin_mode                  98869 non-null float64
landarea_mode                   124921 non-null float64
livingapartments_mode           97312 non-null float64
livingarea_mode                 153161 non-null float64
nonlivingapartments_mode        93997 non-null float64
nonlivingarea_mode              137829 non-null float64
apartments_medi                 151450 non-null float64
basementarea_medi               127568 non-null float64
years_beginexpluatation_medi    157504 non-null float64
years_build_medi                103023 non-null float64
commonarea_medi                 92646 non-null float64
elevators_medi                  143620 non-null float64
entrances_medi                  152683 non-null float64
floorsmax_medi                  154491 non-null float64
floorsmin_medi                  98869 non-null float64
landarea_medi                   124921 non-null float64
livingapartments_medi           97312 non-null float64
livingarea_medi                 153161 non-null float64
nonlivingapartments_medi        93997 non-null float64
nonlivingarea_medi              137829 non-null float64
totalarea_mode                  159080 non-null float64
obs_30_cnt_social_circle        306490 non-null float64
def_30_cnt_social_circle        306490 non-null float64
obs_60_cnt_social_circle        306490 non-null float64
def_60_cnt_social_circle        306490 non-null float64
days_last_phone_change          307510 non-null float64
amt_req_credit_bureau_hour      265992 non-null float64
amt_req_credit_bureau_day       265992 non-null float64
amt_req_credit_bureau_week      265992 non-null float64
amt_req_credit_bureau_mon       265992 non-null float64
amt_req_credit_bureau_qrt       265992 non-null float64
amt_req_credit_bureau_year      265992 non-null float64
dtypes: float64(65)
memory usage: 152.5 MB

So these columns have a lot of null values. To solve this I am going to inpute a 0 for the null value in each of these columns, but I am going to add an additional boolean column that will be a null indicator for the float column, hopefully allowing the model to distinguish between a true zero and a null zero. This will only be done for columns that have a null value in the training set.

In [96]:
for col in float_columns_with_nulls:
    null_col = col+'_is_imputed'
    floats[null_col] = floats[col].apply(lambda x: 1 if pd.isna(x) else 0)
    floats.loc[:,col] = floats[col].apply(lambda x: 0 if pd.isna(x) else x )

/home/connor/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/connor/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [97]:
floats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 126 entries, amt_income_total to amt_req_credit_bureau_year_is_imputed
dtypes: float64(65), int64(61)
memory usage: 295.6 MB

So now all the columns of this dataframe should be suitable for the model, so I'll apply the transformations I did to the train and test dataframes and start with the modeling

In [40]:
data = pd.read_csv('data/application_train.csv')
test_data = pd.read_csv('data/application_test.csv')
data.rename(columns={x:x.lower() for x in data.columns}, inplace=True)
test_data.rename(columns={x:x.lower() for x in test_data.columns}, inplace=True)

float_columns = [x for x in data.columns if data[x].dtype == np.float64]
float_columns_with_nulls =  [c for c in float_columns if data[c].isna().values.any()]
categorical_columns = [x for x in data.columns if data[x].dtype == object]

#Cleaning training data 

#adding a null category for each categorical column 
for col in categorical_columns:
    data.loc[:,col] = data[col].apply(lambda x: x if not pd.isna(x) else "null")
    
uniques = {col:data[col].unique() for col in categorical_columns}

#imputing nans in float columns and adding an is_imputed column
for col in float_columns_with_nulls:
    null_col = col+'_is_imputed'
    data[null_col] = data[col].apply(lambda x: 1 if pd.isna(x) else 0)
    data.loc[:,col] = data[col].apply(lambda x: 0 if pd.isna(x) else x )
    
#creating dummy columns for all the categorical columns
for col in categorical_columns:
    for cat in uniques[col]:
        data[col+'_'+cat] = data[col].apply(lambda x: 1 if x == cat else 0)
    data= data.drop(col, axis = 1)
    
### Cleaning test data    
#adding a null category for each categorical column 
for col in categorical_columns:
    test_data.loc[:,col] = test_data[col].apply(lambda x: x if not pd.isna(x) else "null")
    

#imputing nans in float columns and adding an is_imputed column
for col in float_columns_with_nulls:
    null_col = col+'_is_imputed'
    test_data[null_col] = test_data[col].apply(lambda x: 1 if pd.isna(x) else 0)
    test_data.loc[:,col] = test_data[col].apply(lambda x: 0 if pd.isna(x) else x )
    
#creating dummy columns for all the categorical columns
for col in categorical_columns:
    for cat in uniques[col]:
        test_data[col+'_'+cat] = test_data[col].apply(lambda x: 1 if x == cat else 0)
    test_data= test_data.drop(col, axis = 1)

In [41]:
data.head()

,sk_id_curr,target,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,region_population_relative,days_birth,days_employed,...,wallsmaterial_mode_Block,wallsmaterial_mode_null,wallsmaterial_mode_Panel,wallsmaterial_mode_Mixed,wallsmaterial_mode_Wooden,wallsmaterial_mode_Others,wallsmaterial_mode_Monolithic,emergencystate_mode_No,emergencystate_mode_null,emergencystate_mode_Yes
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0,0,0,0,0,0,0,1,0,0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,1,0,0,0,0,0,0,1,0,0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0,1,0,0,0,0,0,0,1,0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0,1,0,0,0,0,0,0,1,0
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0,1,0,0,0,0,0,0,1,0

# Modeling
## Let's get a baseline

In [42]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import KFold, train_test_split
from sklearn.metrics import roc_auc_score

In [43]:
X,y = data.drop(['target','sk_id_curr'],axis = 1), data['target'] 
#sk_id is not a useful feature its basically leakage here. I will end up using to join to other data later

In [44]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=17)

In [45]:
booster = GradientBoostingClassifier(learning_rate = .01, 
                                     n_estimators = 1000, 
                                     subsample = 0.5, 
                                     max_features = 'sqrt', 
                                     max_depth = 4)

In [46]:
booster.fit(X_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.01, loss='deviance', max_depth=4,
              max_features='sqrt', max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=1000,
              presort='auto', random_state=None, subsample=0.5, verbose=0,
              warm_start=False)

In [47]:
y_hat = booster.predict_proba(X_val)[:,1]

roc_auc_score(y_val, y_hat,)

X_test = test_data.drop('sk_id_curr',axis = 1)

test_predictions = booster.predict_proba(X_test)[:,1]

with open('submissions/results1.csv', 'w') as f:
    f.write('SK_ID_CURR,TARGET\n')
    for i,p in zip(test_data['sk_id_curr'].values, test_predictions):
        f.write("{},{}\n".format(i,p))

In [58]:
!kaggle competitions submit -c home-credit-default-risk -f submissions/results1.csv -m "beat the benchmark"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.3.4 / client 1.1.0)
Successfully submitted to Home Credit Default Risk

Woo I beat the benchmark on my first try and in only a couple hours after the contest launched, not bad but since I'm in so early I will retrain the model with a little more aggressive hyperparameters to try to get number 1

In [68]:
booster = GradientBoostingClassifier(learning_rate = .001, 
                                     n_estimators = 10000, 
                                     subsample = 0.5, 
                                     max_features = 'sqrt', 
                                     max_depth = 4)

In [69]:
booster.fit(X, y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.001, loss='deviance', max_depth=4,
              max_features='sqrt', max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=10000,
              presort='auto', random_state=None, subsample=0.5, verbose=0,
              warm_start=False)

In [70]:
y_hat = booster.predict_proba(X_val)[:,1]

print(roc_auc_score(y_val, y_hat,))

0.7545926560800721

In [74]:
X_test = test_data.drop('sk_id_curr',axis = 1)

test_predictions = booster.predict_proba(X_test)[:,1]

In [77]:
with open('submissions/results3.csv', 'w') as f:
    f.write('SK_ID_CURR,TARGET\n')
    for i,p in zip(test_data['sk_id_curr'].values, test_predictions):
        f.write("{},{}\n".format(i,p))

In [78]:
!

Successfully submitted to Home Credit Default Risk

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.3.4 / client 1.1.0)
Successfully submitted to Home Credit Default Risk